@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Poppins:ital,wght@1,100&display=swap');

::-webkit-scrollbar{
display: none;
}
.App{
  font-family: 'Josefin Sans', sans-serif;
     min-height: 100vh;
  max-width: 100%;
  background-image: radial-gradient(circle 500px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 0.5s;
}
.appname{
  width: 100%;
  color:rgba(212, 212, 212, 0.664);
  transition: 1s;
  box-shadow: 0px 5px 5px black;
  display: block;
  margin: 0 auto;
  padding: 15px;
  font-size: 50px;
  background: rgba(68, 51, 168, 0.74);
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.appname:hover{
  color: rgba(255,255,255,1);
}
span{
  color: black;
}
a{
  text-decoration: none;
}

.header{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 0;
  margin: auto;
}


.search-form{
  min-height:0vh;
  width: 40%;
  position: fixed;
  right: 5px;
  display: flex;
  justify-content: right;
  align-items:center;
  z-index: 100;
}
.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  transition: 0.4s;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
}
.search-bar:focus{
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  background: rgba(255,255,255,0.5);
  outline: none;
  border: none;
}
.search-button{
  background: transparent;
  border: none;
  padding:0;
  width: auto;
  font-size: 30px;
  color:white;
  transition: 0.5s;
  margin-left: 5px;
  transition: 0.3s;
  transform: scale(1);
}
.search-button:hover{
  transform: scale(1.1);
}
/* .recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 20px;
  margin-top: 13%;
} */
.recipes{
  display: grid;
  margin-top:8%;
  grid-template-columns: 50% 50%;
  align-items: baseline;
  cursor: pointer;
}
.app_healthLabels{
  margin: 0 10px;
  min-width: 20%;
  border-radius:50px;
  padding: 10px;
  background: rgba(255, 247, 247, 0.24);
}
.dropcontent{
  background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8));
  border-radius: 50px;
}

@media(max-width:700px){
 
  .appname{
    width: 100%;
    color:rgba(212, 212, 212, 0.664);
    transition: 1s;
    box-shadow: 0px 5px 5px black;
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-size: 25px;
    background: rgba(68, 51, 168, 0.74);
    backdrop-filter: blur(10px);
    cursor: pointer;
 
  }
.header{
  width: 100%;
  padding:0 ;
  max-height: 10px;
  z-index: 100;
}
.footer{
display: none;
}
  .search-form{
    min-height: 0;
    width: 90%;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1;
  }
  .search-bar{
    width: 70%;
    border: none;
    padding: 7px;
    transition: 0.4s;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  .search-button{
    background: transparent;
    border: none;
    padding:0;
    width: auto;
    font-size: 25px;
    color:white;
    transition: 0.5s;
    margin-left: 0;
    position: relative;
    transition: 0.3s;
    transform: scale(1);
  }
  .app_healthLabels{
    margin: 0 3px;
    max-width: 10px;
    border-radius:50px;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .recipes{
    display: flex;
    justify-content:space-between;
    height: 50px;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 0 auto;
  }
}


/* @media(max-width:1400px){
  .appname{
    width: 100%;
    color:rgba(212, 212, 212, 0.664);
    transition: 1s;
    box-shadow: 0px 5px 5px black;
    display: block;
    margin: 0 auto;
    padding:10px 0;
    font-size: 50px;
    background: rgba(68, 51, 168, 0.74);
    backdrop-filter: blur(10px);
    cursor: pointer;
    text-align: left;
  }
} */